@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@font-face {
	font-family: 'Wildest Dreams';
	src: url('../portfolio/assets/WildestDreams.otf') format('otf');
	font-weight: normal;
    font-style: normal;
	font-weight: 1 1000;
}

:root {
	/* --font-size: 16px; */
	--font-size: 1em;
	--subtext: 12pt;
	--gutter: 0.5em;
	/* color palette */
	--color: #f8f8ff;
	--background-color: #0C0C0C;
	/* --highlight-color: #27574F; */
	--highlight-purple: #6273D4;
	--highlight-color: #27574F;
	--beige: #E3DED7;
	--dark-green: #212A29;
}

em {
	font-weight: 600;
	font-size: calc(var(--font-size)*1.1);
}

sub{
	font-size: calc(var(--subtext)*0.75);
}

html {
	scroll-behavior: smooth;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	/* color: var(--color);
	background: var(--background-color); */
	color: var(--background-color);
	background-color: var(--color);

	font-family: 'Schibsted Grotesk';
	position: relative;
}

main {
	min-height: 88%;
}

h1 {
	font-family: 'Wildest Dreams', 'Josefin Sans';
	font-weight: 600;
	font-size: calc(var(--font-size)*2);
	padding-top: calc(var(--gutter)*1.5);
	padding-bottom: calc(var(--gutter)*1.5);
}

h2 {
	font-size: calc(var(--font-size)*1.5);
	padding-bottom: calc(var(--gutter)*1.5);
}

h3 {
	font-size: calc(var(--font-size)*1.2);
}

header {
	background-color: var(--color);
	color: var(--background-color);
	border-bottom: 2px solid;
	border-color: var(--background-color);
	font-family: 'Wildest Dreams', 'Josefin Sans';
	font-weight: 600;
	font-size: calc(var(--font-size)*1.25);
	padding-top: calc(var(--gutter)*1.25);
	padding-bottom: calc(var(--gutter)*1.25);
	padding-left: calc(var(--gutter)*3);
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

header img {
	height: 48px;
}

@media screen and (max-width: 600px) {
	header #menu{
		font-size: calc(var(--font-size)*1.05);
	}
}

header img {
	height: 40px;
}

#menu {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	column-gap: calc(var(--gutter)*2);
	text-align: right;
	padding-right: calc(var(--gutter)*4);
}

@media screen and (min-width: 600px) {
	#menu {
		column-gap: calc(var(--gutter)*4);
	}
}

li:hover {
	color: var(--highlight-purple);
	transition: 0.2s;
}

button {
	background: var(--highlight-color);
	font-size: calc(var(--font-size)*1.4);
	font-family: 'Wildest Dreams', 'Josefin Sans';
	display: flex;
	column-gap: calc(var(--gutter)*2);
	align-items: center;
	padding-top: calc(var(--gutter)*1);
	padding-bottom: calc(var(--gutter)*1);
	padding-left: calc(var(--gutter)*2);
	padding-right: calc(var(--gutter)*2);
	margin-top: calc(var(--gutter)*4);
	margin-bottom: calc(var(--gutter)*4);
	border-radius: 0.5em;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
	transition: 0.2s ease;
}

button:hover {
	background: var(--color);
	color: var(--background-color);
	font-weight: 600;
	transition: 0.2s ease;
}

.temp {
	font-size: calc(var(--font-size)*1.2);
}

.temp a {
	color: var(--highlight-purple);
	text-decoration: underline;
	transition: 0.2s ease;
}
.temp a:hover {
	font-weight: 600;
	color: #8e9ceb;
	transition: 0.2s ease;
}

footer {
	background-color: var(--color);
	color: var(--background-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: calc(var(--gutter)*3);
	padding-right: calc(var(--gutter)*3);
	padding-top: var(--gutter);
	padding-bottom: var(--gutter);
	width: 100%;
	position: relative;
	bottom: 0;
}

/* ELEMENTS */

.linkImages {
	display: flex;
	justify-content: center;
	column-gap: calc(var(--gutter)*4);
}

.sectionHeader {
	font-family: 'Wildest Dreams', 'Josefin Sans';
	font-weight: 600;
	font-size: calc(var(--font-size)*2.5);
	margin-top: calc(var(--gutter)*4.5);
	padding-top: calc(var(--gutter)*2);
	padding-left:  calc(var(--gutter)*2);
	clear: both;
}

@media screen and (max-width:900px) {
	.sectionHeader {
		margin-top: calc(var(--gutter)*6);
	}
}

.linkImages img {
	width: 24px;
}

.buttonNav {
	display: flex;
	margin: auto;
}

/* HOME PAGE */

#hero {
	/* width: 60vw; */
	margin: auto;
	display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#heroName {
	width: 70vw;
	min-width: 300px;
	/* background-color: var(--highlight-color); */
	background-color: var(--color);
	color: var(--background-color);
	border: 2px solid;
	border-color: var(--background-color);
	
	text-align: center;
	padding-left: calc(var(--gutter)*6);
	padding-right: calc(var(--gutter)*6);
	padding-bottom: calc(var(--gutter)*4);
	padding-top: calc(var(--gutter)*4);
	position: absolute;
	top: 4%;
	margin: auto;
	box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.4);
	z-index: 1;
}

@media screen and (max-width:900px) {
		.mobileLayout > h2::before {
		content: " | ";
	}
	.mobileLayout {
		display: flex;
		align-content: center;
	}
	#heroName img {
		margin-bottom: calc(var(--gutter)*4);
	}
}

#heroName p {
	padding-bottom: calc(var(--gutter)*2.5);
}

#heroIntro {
	width: 80vw;
	/* background-color: var(--color);
	color: var(--background-color); */
	border: 2px solid;
	border-color: var(--background-color);
	color: var(--background-color);
	padding-left: calc(var(--gutter)*8);
	padding-right: calc(var(--gutter)*8);
	padding-top: calc(var(--gutter)*56);
	padding-bottom: calc(var(--gutter)*10);
	position: relative;
	top: 20vh;
	box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.4);
	z-index: 0;
}

.hello {
	font-family: 'Wildest Dreams', 'Josefin Sans';
	font-weight: 600;
	font-size: calc(var(--font-size)*3);
	padding-bottom: calc(var(--gutter)/2);
}

.mission {
	font-size: calc(var(--font-size)*1.2);
	font-weight: 600;
	padding-bottom: calc(var(--gutter)*2);
}

#heroIntro p {
	width: 30vw;
	line-height: 1.5em;
}

@media screen and (max-width:900px) {
	#heroIntro p {
		width: 60vw;
	}
}

#projects {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	column-gap: calc(var(--gutter)*12);
	row-gap: calc(var(--gutter)*8);
	justify-content: center;
	height: fit-content;
	padding-bottom: calc(var(--gutter)*8);
}

#projects, #ProjectsHeader {
	background-color: var(--background-color);
	color: var(--color);
}

.projectItem {
	transition: 0.4s;
	background-color: var(--background-color);
}

.projectItem:hover {
	transform: scale(1.1);
	transition: 0.4s;
}

.projectItem img {
	width: 42vw;
}

.projectItem img, div, h3 {
	padding-top: calc(var(--gutter)*1);
}

.tags {
	display: flex;
	column-gap: var(--gutter);
}

.projectTag {
	font-size: var(--subtext);
	border: solid 1px;
	border-radius: 12px;
	padding-left: calc(var(--gutter)*1.5);
	padding-right: calc(var(--gutter)*1.5);
	padding-top: calc(var(--gutter)/4);
	padding-bottom: calc(var(--gutter)/4);
}

@media screen and (min-width: 900px) {
	#hero {
		width: 60vw;
	}	
	#heroName {
		width: 20vw;
		min-width: 300px;
		text-align: center;
		padding-top: calc(var(--gutter)*6);
		padding-bottom: calc(var(--gutter)*6);
		position: absolute;
		top: 61%;
		left: 20%;
		transform: translate(-50%, -50%);
		z-index: 1;
	}
	#heroIntro {
		width: 60vw;
		padding-left: 42%;
		padding-top: calc(var(--gutter)*10);
		padding-bottom: calc(var(--gutter)*10);
		position: relative;
		top: 10vh;
		left: 10%;
		z-index: 0;
	}
	.hello {
		font-family: 'Wildest Dreams', 'Josefin Sans';
		font-weight: 600;
		font-size: calc(var(--font-size)*4);
		padding-bottom: calc(var(--gutter)/2);
	}
	.mission {
		font-size: calc(var(--font-size)*1.5);
		font-weight: 600;
		padding-bottom: calc(var(--gutter)*2);
	}
}

@media screen and (min-width: 1200px) {
	#heroIntro {
		width: 50vw;
		padding-left: 25%;
		top: 8vh;
		left: 10%;
	}
}

/* ABOUT PAGE */

.aboutLabel {
	background-color: var(--color);
	color: var(--background-color);
	border: 2px solid;
	border-color: var(--background-color);
	text-align: center;
	width: max-content;
	padding-left: calc(var(--gutter)*8);
	padding-right: calc(var(--gutter)*8);
	position: absolute;
	right: 4vw;
	top: 12vh;
	box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.4);
}

.aboutContent {
	background-color: var(--color);
	color: var(--background-color);
	margin: calc(var(--gutter)*6);
	padding: calc(var(--gutter)*6);
	padding-top: calc(var(--gutter)*8);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.aboutSpread {
	display: flex;
	flex-direction: column;
	column-gap: calc(var(--gutter)*12);
	align-items: center;
	margin-bottom: calc(var(--gutter)*8);
	padding: calc(var(--gutter)*4);
	max-width: 72vw;
	border: 2px solid;
	border-color: var(--background-color);
	box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.4);
}

.aboutSpread img {
	max-width: 56vw;
	margin-bottom: calc(var(--gutter)*4);
}
.aboutSpread p {
	padding-bottom: calc(var(--gutter)*2);
	max-width: 65ch;
}

.aboutGallery {
	display: flex;
	flex-direction: column;
	row-gap: calc(var(--gutter)*4);
}

.aboutGallery img{
	max-width: 56vw;
}

@media screen and (min-width: 800px) {
	.aboutLabel {
		right: 4vw;
		top: 16vh;
	}
	.aboutContent {
		background-color: var(--color);
		color: var(--background-color);
		margin: calc(var(--gutter)*12);
		margin-top: calc(var(--gutter)*8);
		padding: calc(var(--gutter)*8);
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.aboutSpread {
		flex-direction: row-reverse;
		column-gap: calc(var(--gutter)*12);
	}
	.aboutSpread img {
		max-width: 28vw;
		margin-bottom: 0;
	}
	.aboutGallery {
		flex-direction: row;
		justify-content: space-between;
		column-gap: calc(var(--gutter)*4);
	}
		.aboutGallery img{
			max-width: 20vw;
	}
}

/* PROJECTS PAGES */

.projectTitle {
	box-shadow: inset 0 0 0 2px var(--color);
	border: 2px solid;
	border-color: var(--background-color);
	position: relative;
	display: flex;
	/* justify-content: flex-start; */
	padding-left: calc(var(--gutter)*4);
	padding-right: calc(var(--gutter)*4);
	margin-left: calc(var(--gutter)*12);
	margin-right: calc(var(--gutter)*12);
}

.heroImg {
	padding: 0;
	margin: 0;
	/* position: relative;
	top: 15%;
    left: 10%;
	z-index: 0; */
}

.heroImg img {
	max-height: 60vh;
	/* box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.4); */
}

.projectInfo {
	width: 50%;
	color: var(--background-color);
	align-self: center;
	padding-left: calc(var(--gutter)*6);
	/* position: relative;
	top: 12vh;
	right: -40%;
	box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.4);
	z-index: 1; */
}

.caseStudyIntro {
	margin-top: calc(var(--gutter)*4);
	margin-left: calc(var(--gutter)*16);
	margin-right: calc(var(--gutter)*16);
	padding-top: calc(var(--gutter)*2);
	display: flex;
	align-items: center;
}
 
.caseStudyIntro > p {
	max-width: 70ch;
	line-height: 1.4;
}

.caseStudyIntro > * {
	margin-bottom: calc(var(--gutter)*4);
}

.infoIntro {
	padding-top: calc(var(--gutter)*4);
}