@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@font-face {
	font-family: 'Wildest Dreams';
	src: url('../portfolio/assets/WildestDreams.otf') format('otf');
	font-weight: normal;
    font-style: normal;
	font-weight: 1 1000;
}

:root {
	--font-size: 16px;
	--color: #212A29;
	--font-size: 1em;
	--subtext: 12pt;
	--color: #E3DED7;
	--highlight-color: #27574F;
	--gutter: 8px;
	--background-color: #212A29;
	--gutter: 0.5em;
}

em {
	font-weight: 600;
	font-size: calc(var(--font-size)*1.1);
}

html {
	scroll-behavior: smooth;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body{
	color: var(--color);
	font-family: 'Schibsted Grotesk';
	background-color: var(--background-color);
	position: relative;
}

main {
	min-height: 88%;
}

h1 {
	font-family: 'Wildest Dreams', 'Josefin Sans';
	font-weight: 600;
	font-size: calc(var(--font-size)*2);
	padding-top: calc(var(--gutter)*1.5);
	padding-bottom: calc(var(--gutter)*1.5);
}

h2 {
	font-size: calc(var(--font-size)*1.5);
	padding-bottom: calc(var(--gutter)*1.5);
}

header {
	background-color: var(--color);
	color: var(--background-color);
	font-family: 'Wildest Dreams', 'Josefin Sans';
	font-weight: 600;
	font-size: calc(var(--font-size)*1.25);
	padding-top: calc(var(--gutter)*1.25);
	padding-bottom: calc(var(--gutter)*1.25);
	padding-left: calc(var(--gutter)*3);
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

header img {
	height: 40px;
}

ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	column-gap: calc(var(--gutter)*4);
	text-align: right;
	padding-right: calc(var(--gutter)*4);
}

li:hover {
	color: var(--highlight-color);
	transition: 0.2s;
}

button {
	background: var(--highlight-color);
	padding-top: calc(var(--gutter)*1);
	padding-bottom: calc(var(--gutter)*1);
	padding-left: calc(var(--gutter)*2);
	padding-right: calc(var(--gutter)*2);
	border-radius: 10%;
}


#hero {
	width: 60vw;
	margin: auto;
	display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#heroName {
	width: 20vw;
	min-width: 300px;
	background-color: var(--highlight-color);
	text-align: center;
	padding-top: calc(var(--gutter)*6);
	padding-bottom: calc(var(--gutter)*6);
	position: absolute;
	top: 61%;
    left: 20%;
    transform: translate(-50%, -50%);
	box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.4);
	z-index: 1;
}

#heroName p {
	padding-bottom: calc(var(--gutter)*2.5);
}

.linkImages {
	display: flex;
	justify-content: center;
	column-gap: calc(var(--gutter)*4);
}

#heroIntro {
	width: 50vw;
	background-color: var(--color);
	color: var(--background-color);
	padding-left: 25%;
	padding-top: calc(var(--gutter)*10);
	padding-bottom: calc(var(--gutter)*10);
	position: relative;
	top: 8vh;
	left: 10%;
	box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.4);
	z-index: 0;
}

.hello {
	font-family: 'Wildest Dreams', 'Josefin Sans';
	font-weight: 600;
	font-size: calc(var(--font-size)*4);
	padding-bottom: calc(var(--gutter)/2);
}

.mission {
	font-size: calc(var(--font-size)*1.5);
	font-weight: 600;
	padding-bottom: calc(var(--gutter)*2);
}

#heroIntro p {
	width: 30vw;
	line-height: 1.5em;
}

.sectionHeader {
	font-family: 'Wildest Dreams', 'Josefin Sans';
	font-weight: 600;
	font-size: calc(var(--font-size)*2.5);
	margin-top: calc(var(--gutter)*3);
	padding-top: calc(var(--gutter)*2);
	clear: both;
}

#projects {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	column-gap: calc(var(--gutter)*12);
	row-gap: calc(var(--gutter)*8);
	justify-content: center;
	height: fit-content;
	padding-bottom: calc(var(--gutter)*8);
}

.projectItem {
	transition: 0.5s;
	background-color: var(--background-color);
}

.projectItem:hover {
	transform: scale(1.1);
	transition: 0.5s;
}

.projectItem img {
	width: 30vw;
}

.linkImages img {
	width: 24px;
}

.tags {
	display: flex;
	column-gap: var(--gutter);
}

.projectTag {
	font-size: var(--subtext);
	border: solid 1px;
	border-radius: 12px;
	padding-left: calc(var(--gutter)*1.5);
	padding-right: calc(var(--gutter)*1.5);
	padding-top: calc(var(--gutter)/4);
	padding-bottom: calc(var(--gutter)/4);
}

.projectTitle {
	/* height: 64vh; */
	background-color: var(--highlight-color);
	/* margin-top: calc(var(--gutter)*4); */
	padding-left: calc(var(--gutter)/4);
	padding-right: calc(var(--gutter)/4);
	position: relative;
	display: flex;
	justify-content: space-around;
}

.heroImg {
	text-align: center;
	padding: 0;
	margin: 0;
	/* position: relative;
	top: 15%;
    left: 10%;
	z-index: 0; */
}

.heroImg img {
	max-height: 60vh;
	/* box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.4); */
}

.projectInfo {
	width: max-content;
	background-color: var(--highlight-color);
	color: var(--color);
	align-self: center;
	/* position: relative;
	top: 12vh;
	right: -40%;
	box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.4);
	z-index: 1; */
}

.caseStudy {
	margin-top: calc(var(--gutter)*5);
	padding-top: calc(var(--gutter)*2);
}

.aboutLabel {
	background-color: var(--highlight-color);
	color: var(--color);
	text-align: center;
	width: max-content;
	padding-left: calc(var(--gutter)*8);
	padding-right: calc(var(--gutter)*8);
	position: absolute;
	right: 4vw;
	top: 12vh;
	box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.4);
}

.aboutContent {
	background-color: var(--color);
	color: var(--background-color);
	margin: calc(var(--gutter)*6);
	padding: calc(var(--gutter)*6);
	padding-top: calc(var(--gutter)*8);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.aboutSpread {
	display: flex;
	flex-direction: column;
	column-gap: calc(var(--gutter)*12);
	align-items: center;
	margin-bottom: calc(var(--gutter)*8);
	max-width: 72vw;
}

.aboutSpread img {
	max-width: 56vw;
	margin-bottom: calc(var(--gutter)*4);
}
.aboutSpread p {
	padding-bottom: calc(var(--gutter)*2);
	max-width: 65ch;
}

.aboutGallery {
	display: flex;
	flex-direction: column;
	row-gap: calc(var(--gutter)*4);
}

.aboutGallery img{
	max-width: 56vw;
}

@media screen and (min-width: 800px) {
	.aboutLabel {
		right: 4vw;
		top: 14vh;
	}
	.aboutContent {
		background-color: var(--color);
		color: var(--background-color);
		margin: calc(var(--gutter)*12);
		padding: calc(var(--gutter)*8);
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.aboutSpread {
		flex-direction: row-reverse;
		column-gap: calc(var(--gutter)*12);
	}
	.aboutSpread img {
		max-width: 28vw;
		margin-bottom: 0;
	}
	.aboutGallery {
		flex-direction: row;
		justify-content: space-between;
		column-gap: calc(var(--gutter)*4);
	}
		.aboutGallery img{
			max-width: 20vw;
	}
}


footer {
	background-color: var(--color);
	color: var(--background-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: calc(var(--gutter)*3);
	padding-right: calc(var(--gutter)*3);
	padding-top: var(--gutter);
	padding-bottom: var(--gutter);
	width: 100%;
	position: relative;
	bottom: 0;
}