@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');
@font-face {
	font-family: 'Wildest Dreams';
	src: url('../portolio/assets/WildestDreams.otf');
}

:root {
	--font-size: 16px;
	--color: #212A29;
	--highlight-color: #27574F;
	--background-color: #E3DED7;
	--gutter: 8px;
}

body{
	color: var(--color);
	font-family: 'Schibsted Grotek';
}